.navbar {
    z-index: 1000;
    position: fixed;
    min-height: 50px;
    max-height: 50px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left {
    min-height: 50px;
    max-height: 50px;
    min-width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-right {
    min-height: 50px;
    max-height: 50px;
    min-width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.personal-logo {
    margin-left: 15px;
}

button {
    background-color: rgb(129, 178, 154, 0.85);
    transition: background-color .2s ease-in, top .2s ease;
    color: white;
    font-size: 10px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    min-height: 25px;
    margin-right: 15px;
    min-width: 55px;
    cursor: pointer;
}

.button-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-logo > img {
    max-width: 17px;
}

button:hover {
    background-color: rgb(129, 178, 154, 1);
}

button:active {
    position: relative;
    top: 1px;
}